
# Python virtualenv
.venv/

# Rust build artifacts
rust-launcher/target/

# Go build artifacts
go-launcher/playdock.exe
go-launcher/steamlauncher.exe
go-launcher/go-launcher.exe

# Go debug binaries
go-launcher/*_debug_bin*


# Editor/OS files
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.vscode/launch.json


# Go coverage/test output
*.out
*.coverprofile
cover.out

docs/MyGames.md
